@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
/* Open Sans */
:root {
    --axent1: #e76f3d;
    --baseColor: #f3e9e7;
    --axent2: #00a7c7;
    --textColor: #11111c;
  } 
* {
    font-family: Open Sans;
} 
body{
    background-color: var(--baseColor);
} 
header {
    padding: 30px 0;
  }


h1 {
    color : var(--axent1);
    font-weight: 700;
}
img{
    max-width:100%; 
    height:auto;
    border: 2px solid var(--axent1);    
}
.logoContainer {
    
    width: 80px;
}
.logo {
    border: none;
}
/* navigation */
nav {
    background-color: var(--axent2);
    display: flex;
    padding: 20px 90px;
    margin-bottom: 30px;
}
.shop, .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 30px;
    width: 70px;
}
.shop:hover, .cart:hover {
    border-bottom: 3px solid var(--axent1);
}
.slider {
    display: flex;
    align-items: center;
}
.photo {
    margin: auto;
    max-height: 280px;
    margin-top: 5px;
}
/* Shops list */
.shops {
    border: 2px solid var(--axent2);
    text-transform: uppercase;
    max-width: 80%;
    margin: 10px;
    padding: 10px;
}
.shops:hover {
    background-color: var(--axent1);
    color: var(--baseColor);
}

/* Goods list */
.goods {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.goodsCard{
    overflow: hidden;
    width: 205px;
    height: 250px;
    font-size: medium;
    text-transform: uppercase;
    
}
.goods__img {       
   margin-top:5px ;
    width: 200px;

}
.add {
    background-color: var(--baseColor);
    text-transform: uppercase;
}
.add:hover {
    background-color: var(--axent1);
}
.orderTitle {
    font-size: xx-large;
    
}
.orderCard {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin: 20px;
}
.orders__img {
    width: 150px;
    margin: 10px;
}
.quantity_input {
    width: 50px;
}
#submit {
    background-color: var(--axent1);
    color: white;
    border-radius: 5px;
    border-color: var(--axent1);
}

